# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-3*5)=zvjw1xv22&p*6%&*w7b*5mbrqh^dh_qr#h^4h+7_bdrq(
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DB_NAME=icanbeyourmother
DB_USER=user
DB_PASSWORD=password
DB_HOST=db


# Static Files
STATIC_URL=/static/static/
STATIC_ROOT=/vol/web/static
MEDIA_URL=/vol/web/media
MEDIA_ROOT=/app/media 

# Docker Development
DEV=True

# Proxy Settings (set USE_PROXY=true if you need to use a proxy during build)
USE_PROXY=false
HTTP_PROXY_URL=http://10.1.101.101:8080

# Django Superuser (optional - for initial setup)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=alvesmonteiroanderson@gmail.com
DJANGO_SUPERUSER_PASSWORD=yntl240198